---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Joseph Rowe: Content strategist, editor, writer, developer, and truly terrible accordion player."
	pubDate={new Date('Mar 16 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Hi, I'm Joseph. I've got roughly a decade of experience in SEO. My most recent tenure was at a marketing agency, where I wore many different hats over the three years I was there.
		<br/>
		<br/>
		I'm now currently looking for my next role.
		<br/>
		<br/>
		I have an eclectic background of SEO, linguistics, teaching, and tech skills that let me take hard concepts like communication protocols or privacy compliance frameworks and craft valuable content that informs, engages, and ranks.
	</p>

	<p>
		<strong>Skills:</strong><ul><li>Content strategy and planning, from keyword research and competitor analysis to writing/editing to publication</li>
	<li>Web development</li>
	<li>Python</li>
	<li>SQL</li>
	<li>Basic IT and cybersecurity</li>
</ul>
	</p>

	<p>
		<strong>Software and tools:</strong>
		<ul><li>Ahrefs</li>
	<li>Screaming Frog</li>
	<li>Frase</li>
	<li>Matomo</li>
	<li>Google Analytics</li>
	<li>Google Keyword Planner</li>
	<li>Google Search Console</li>
	<li>WordPress</li>
	<li>Yoast SEO</li>
</ul>
	</p>

	<p>
		<strong>Education:</strong>
		<ul><li>B.A. and M.A. in linguistics</li>
	<li>Ongoing B.S. in software engineering (2027 completion date)</li>
	<li>Front-End Developer Certificate from WGU</li>
	<li>Google IT Support Professional Certificate</li>
</ul>
	</p>

	<p>
		<strong>Some career highlights:</strong>
		<ul><li>Conducted original in-house marketing research</li>
	<li>Managed wonderful teams of writers and content planners</li>
	<li>Helped our clients rank for thousands of keywords</li>
	<li>Had millions of views on my gaming content</li>
	<li>Got to report on BlizzCon and E3 back in 2013, which were two bucket list events</li>
</ul>
	</p>

	<p>
		<strong>Niches:</strong>
		<ul><li>B2B and B2C SaaS</li>
	<li>Developer- and Product Manager-facing content</li>
	<li>Data privacy and compliance</li>
	<li>Ethical marketing</li>
	<li>Cyber security</li>
	<li>IT, including SAP, Oracle, and VMware</li>
	<li>Video games and entertainment</li>
	<li>Second language acquisition</li>
</ul>
	</p>
</Layout>
