---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Joseph Rowe - Content Strategist</h1>
			<p>My name is Joseph Rowe. I'm a content strategist who loves to create content about software engineering, cybersecurity, data privacy, SaaS, gaming, and more.
				<br/>
				<br/>
				This site is a fun side project for me to experiment with some of my more technical/development related interests.
				<br/>
				<br/>
				I built the website with Astro, and I'm running Matomo for web analytics. Click around and give me some data to analyze, please.
				<br/>
				<br/>
				Check me out on <a href="https://www.linkedin.com/in/josephrowe/">LinkedIn</a> and <a href="https://github.com/Yosef73">GitHub</a>.
				<br/>
				<br/>
				Toodles, dudles.
			</p>
		</main>
		<Footer />
	</body>
</html>
